<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=1070719786387116&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
      
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <div class="nav-title">
            <img class="nav-logo" src="{{  site.baseurl }}/assets/images/tdpba_logo_small.gif" height="50px" />
            <h2> {{ site.title }}</h2>
          </div>
        </a>
        <ul>
          <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
          <li><a href="{{ site.baseurl }}/">Posts</a></li>
        </ul>
    </div>
  </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}.
      </span>
    </footer>
  </body>
</html>
